body {
  background-color: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 800px;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 10px;
}

#meal-selection .form-check {
  display: flex;
  align-items: center;
}

#meal-selection .form-check input {
  margin-right: 10px;
}
